body {
    background-color: #F1F5FF !important;
  }

.careers-banner-container {
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.banner-img {
    margin: 0 5px;
}

.banner-img img {
    width: 150px;
}

.banner-text h1 {
    color: #455EBB;
    text-transform: uppercase;

}

.banner-text h2,
.banner-text p {
    color: #000000;
}

.banner-text h2 {
    font-size: 20px;
    font-weight: 600;
}

.banner-text p {
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .careers-banner-container {
        padding: 20px 50px;
    }

    .banner-img,
    .banner-text {
        margin: 0 15px;
    }

    .banner-img img {
        width: 250px;
    }

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text h2 {
        font-size: 25px;
    }

    .banner-text p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1366px) {
    .careers-banner-container {
        display: flex;
        justify-content: center;
        padding: 30px 200px;
    }

    .banner-img img {
        width: 350px;
    }

    .banner-text h1 {
        font-size: 80px;
    }

    .banner-text h2 {
        font-size: 50px;
    }

    .banner-text p {
        font-size: 25px;
    }
}

.jb-opening-container {
    align-items: center;
    align-content: center;
    margin: 50px 0;
}

.title-text {
    text-align: center;
}

.title-text h1 {
    color: #455EBB;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
}

#jobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jobs-main-cnt {
    max-width: 1200px;
    width: 100%;
    margin: 16px auto;
    padding: 32px 64px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  }

  .job-title {
    color: #455EBB;
    margin-bottom: 16px;
  }

  .job-jd > p {
    font-weight: bold;
    margin-bottom: 16px;
  }

  .job-jd > ul > li:last-child {
    margin-bottom: 16px;
  }

  .job-btn {
    background-color: #67BD45;
    margin-top: 24px;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
  }

  .job-btn a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }

