@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #ffffff;
}

/*nav styles*/

.header {
    background-color: #effeff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
}

.header li a {
    display: block;
    text-decoration: none;
    padding: 25px;
    text-align: right;
    font-weight: 600;
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    color: #299DD8;
    box-shadow: 0 -1px 0 #299DD8 inset;
}

.header .logo {
    float: left;
    display: block;
    padding: 10px 20px;
}

.header .logo img {
    height: 50px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.header .menu-icon {
    padding: 35px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #299DD8;
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-in-out;
    border-radius: 20px;
}

.header .menu-icon .nav-icon:before {
    background: #299DD8;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8px;
    border-radius: 20px;
    transition: all 0.3s ease-out;

}

.header .menu-icon .nav-icon:after {
    background: #299DD8;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -8px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 80vh;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*footer styles*/

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #effeff;
}

.footer-menu .menu {
    display: flex;
    justify-content: center;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu .menu li {
    padding: 3px;
}

.footer-menu .menu li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #a1a1a1;
    word-spacing: 2px;
}

.location {
    margin-top: 30px;
}
.contact {
    margin: 20px
}

.location,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location img,
.contact img {
    height: 40px;
}

.location p,
.contact p {
    text-align: left;
    margin-left: 15px;
    font-size: 13px;
}

.footer-logo {
    margin-top: 20px;
}

.footer-logo img {
    width: 150px
}

.footer-text {
    margin: 20px 0;
    color: #a1a1a1;
    font-weight: 600;
    font-size: 13px;
}