@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #ffffff;
}

/*nav styles*/

.header {
    background-color: #effeff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
}

.header li a {
    display: block;
    text-decoration: none;
    padding: 25px;
    text-align: right;
    font-weight: 600;
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    color: #299DD8;
    box-shadow: 0 -1px 0 #299DD8 inset;
}

.header .logo {
    float: left;
    display: block;
    padding: 10px 20px;
}

.header .logo img {
    height: 50px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.header .menu-icon {
    padding: 35px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #299DD8;
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-in-out;
    border-radius: 20px;
}

.header .menu-icon .nav-icon:before {
    background: #299DD8;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8px;
    border-radius: 20px;
    transition: all 0.3s ease-out;

}

.header .menu-icon .nav-icon:after {
    background: #299DD8;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -8px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 80vh;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*body styles*/

.home-banner-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

.banner-img {
    display: block;
}

.banner-img img {
    width: 200px;
}

.home-text h1,
.home-text p {
    color: #455EBB;
}

.home-text h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

.home-text p {
    font-size: 15px;
    margin: 10px 0;
}

.home-cta {
    margin: 30px 0 ;
}

.home-cta a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #5EBB45;
    padding: 10px 15px;
    border-radius: 5px;
}

.svc-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
}

.section-title h1,
.section-title p {
    color: #455EBB;
    margin: 5px 0;
    line-height: 20px;
}

.section-title h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.svc-img-container {
    margin: 30px
}

.svc-text {
    color: #455EBB
}

.svc-text h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
}

.svc-text p {
    font-size: 15px;
    margin: 5px 0;
}

.svc-crm img,
.svc-it-cons img,
.svc-mkt-cons img,
.svc-payment img,
.svc-soft-dev img {
    height: 120px;
}

.svc-btn {
    margin: 20px 0;
}

.svc-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #5EBB45;
    padding: 15px 45px;
    border-radius: 5px;
}

.partner-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.partner-logo {
    padding: 30px;
    background-color: #f2ffff;
    width: 100%;
    margin: 20px 0;
}

.partner-logo img {
    width: 150px;
    margin-bottom: 20px;
}


.partner-btn {
    margin: 20px 0;
}

.partner-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #5EBB45;
    padding: 15px 30px;
    border-radius: 5px;
}
.why-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-img {
    margin: 10px;
}

.team-img img {
    height: 180px;
}

.join-cta {
    margin: 25px;
}

.join-cta a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #5EBB45;
    padding: 15px 45px;
    border-radius: 5px;
}

/*footer styles*/

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.footer-menu .menu {
    display: flex;
    justify-content: center;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu .menu li {
    padding: 3px;
}

.footer-menu .menu li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #a1a1a1;
    word-spacing: 2px;
}

.location {
    margin-top: 30px;
}
.contact {
    margin: 20px
}

.location,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location img,
.contact img {
    height: 40px;
}

.location p,
.contact p {
    text-align: left;
    margin-left: 15px;
}

.footer-logo {
    margin-top: 20px;
}

.footer-logo img {
    width: 150px
}

.footer-text {
    margin: 20px 0;
    color: #a1a1a1;
    font-weight: 600;
}